.objectives {
  background-color: #B2D234;
  max-width: 380px;
  padding: 20px 15px;

  p {
    font-size: 14px;
  }
}

.objectives__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 20px;
}
