.providers {
  background-color: #edf4ee;
  max-width: 1440px;
  margin: 0 auto;
  padding: 90px 45px;
}

.providers__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 20px;

  &:before {
    background-image: url("data:image/svg+xml,%3Csvg width='47' height='35' viewBox='0 0 47 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.6351 28.8918C23.5079 28.8925 23.3817 28.8681 23.2639 28.82C23.1461 28.7719 23.0389 28.701 22.9486 28.6113C21.8462 27.4993 13.714 27.3446 6.82919 27.8281C6.69662 27.8374 6.56357 27.8193 6.43832 27.7749C6.31308 27.7304 6.19833 27.6607 6.10124 27.57C6.00416 27.4792 5.92681 27.3694 5.87404 27.2475C5.82127 27.1255 5.7942 26.994 5.79453 26.8611V3.65383C5.79243 3.50323 5.82554 3.35423 5.89122 3.21869C8.24096 -1.48079 21.3047 1.98097 23.8962 2.72554C24.1054 2.78403 24.2887 2.91123 24.4168 3.08664C24.5449 3.26206 24.6101 3.47547 24.6021 3.69251V27.9248C24.6021 28.1812 24.5002 28.4272 24.3189 28.6085C24.1375 28.7899 23.8916 28.8918 23.6351 28.8918ZM14.3329 25.6137C17.1333 25.5179 19.9346 25.7811 22.6682 26.397V4.39839C17.0307 2.88025 9.18859 1.82625 7.72847 3.95359V25.8361C9.37232 25.7298 11.8091 25.6137 14.3329 25.6137Z' fill='%23439552'/%3E%3Cpath d='M19.7672 9.49438H19.5738C16.9274 8.89526 14.2228 8.59043 11.5093 8.58543C11.2529 8.58543 11.0069 8.48355 10.8256 8.30221C10.6442 8.12087 10.5423 7.87492 10.5423 7.61846C10.5423 7.362 10.6442 7.11605 10.8256 6.93471C11.0069 6.75337 11.2529 6.65149 11.5093 6.65149C14.379 6.66145 17.2389 6.9857 20.038 7.61846C20.2944 7.64539 20.5297 7.77309 20.692 7.97347C20.8543 8.17385 20.9304 8.4305 20.9034 8.68696C20.8765 8.94342 20.7488 9.17867 20.5484 9.34097C20.348 9.50328 20.0914 9.57933 19.8349 9.5524L19.7672 9.49438Z' fill='%23439552'/%3E%3Cpath d='M19.7673 16.2629H19.5739C16.9274 15.6638 14.2228 15.359 11.5094 15.354C11.3824 15.3584 11.2558 15.3378 11.1368 15.2933C11.0177 15.2488 10.9087 15.1813 10.8157 15.0947C10.628 14.9197 10.5175 14.6773 10.5086 14.4209C10.4996 14.1644 10.5929 13.9149 10.7679 13.7272C10.9429 13.5395 11.1852 13.429 11.4417 13.42C14.3114 13.43 17.1713 13.7543 19.9704 14.387C20.0974 14.4003 20.2205 14.4386 20.3327 14.4995C20.4449 14.5604 20.544 14.6428 20.6244 14.742C20.7048 14.8412 20.7648 14.9553 20.8011 15.0777C20.8373 15.2002 20.8491 15.3285 20.8358 15.4555C20.8225 15.5825 20.7843 15.7056 20.7234 15.8178C20.6624 15.93 20.58 16.0292 20.4808 16.1095C20.3816 16.1899 20.2675 16.2499 20.1451 16.2862C20.0227 16.3225 19.8943 16.3343 19.7673 16.321V16.2629Z' fill='%23439552'/%3E%3Cpath d='M19.7672 23.0317H19.5738C16.9274 22.4326 14.2228 22.1278 11.5093 22.1228C11.2529 22.1228 11.0069 22.0209 10.8256 21.8396C10.6442 21.6582 10.5423 21.4123 10.5423 21.1558C10.5423 20.8994 10.6442 20.6534 10.8256 20.4721C11.0069 20.2907 11.2529 20.1888 11.5093 20.1888C14.379 20.1988 17.2389 20.5231 20.038 21.1558C20.2944 21.1827 20.5297 21.3104 20.692 21.5108C20.8543 21.7112 20.9304 21.9679 20.9034 22.2243C20.8765 22.4808 20.7488 22.716 20.5484 22.8783C20.348 23.0406 20.0914 23.1167 19.8349 23.0898L19.7672 23.0317Z' fill='%23439552'/%3E%3Cpath d='M27.5514 9.49417C27.2949 9.5211 27.0383 9.44505 26.8379 9.28275C26.6375 9.12045 26.5098 8.88519 26.4829 8.62873C26.456 8.37228 26.532 8.11563 26.6943 7.91525C26.8566 7.71486 27.0919 7.58716 27.3483 7.56023C30.1466 6.92249 33.0071 6.59817 35.877 6.59326C36.1335 6.59326 36.3794 6.69514 36.5608 6.87648C36.7421 7.05782 36.844 7.30378 36.844 7.56023C36.844 7.81669 36.7421 8.06264 36.5608 8.24398C36.3794 8.42533 36.1335 8.5272 35.877 8.5272C33.1636 8.5322 30.459 8.83703 27.8125 9.43615L27.5514 9.49417Z' fill='%23439552'/%3E%3Cpath d='M27.5514 16.2631C27.2949 16.29 27.0383 16.214 26.8379 16.0517C26.6375 15.8894 26.5098 15.6541 26.4829 15.3977C26.456 15.1412 26.532 14.8845 26.6943 14.6842C26.8566 14.4838 27.0919 14.3561 27.3483 14.3292C30.1466 13.6914 33.0071 13.3671 35.877 13.3622C36.1335 13.3622 36.3794 13.4641 36.5608 13.6454C36.7421 13.8267 36.844 14.0727 36.844 14.3292C36.844 14.5856 36.7421 14.8316 36.5608 15.0129C36.3794 15.1942 36.1335 15.2961 35.877 15.2961C33.1636 15.3011 30.459 15.606 27.8125 16.2051L27.5514 16.2631Z' fill='%23439552'/%3E%3Cpath d='M27.5514 23.0319C27.4244 23.0452 27.2961 23.0334 27.1736 22.9971C27.0512 22.9609 26.9371 22.9008 26.8379 22.8205C26.7387 22.7401 26.6563 22.641 26.5954 22.5288C26.5344 22.4166 26.4962 22.2934 26.4829 22.1665C26.4696 22.0395 26.4814 21.9111 26.5177 21.7887C26.5539 21.6663 26.614 21.5522 26.6943 21.453C26.7747 21.3537 26.8738 21.2713 26.986 21.2104C27.0982 21.1495 27.2214 21.1113 27.3483 21.098C30.1466 20.4602 33.0071 20.1359 35.877 20.131C36.1335 20.131 36.3794 20.2329 36.5608 20.4142C36.7421 20.5955 36.844 20.8415 36.844 21.098C36.844 21.3544 36.7421 21.6004 36.5608 21.7817C36.3794 21.963 36.1335 22.0649 35.877 22.0649C33.1638 22.0747 30.4598 22.3795 27.8125 22.9739L27.5514 23.0319Z' fill='%23439552'/%3E%3Cpath d='M1.48186 32.0536C1.24221 32.053 1.01133 31.9634 0.833993 31.8022C0.733822 31.7118 0.653681 31.6014 0.598724 31.4782C0.543767 31.3549 0.515212 31.2216 0.514893 31.0866V6.85434C0.517544 6.67012 0.559453 6.48858 0.637823 6.32183C0.716193 6.15509 0.829222 6.00697 0.969369 5.88737C1.88799 5.08479 4.6922 5.25884 6.88723 5.54893C7.14368 5.58355 7.37588 5.71863 7.53274 5.92446C7.6896 6.13028 7.75828 6.38999 7.72366 6.64644C7.68903 6.9029 7.55395 7.1351 7.34813 7.29196C7.14231 7.44882 6.8826 7.51749 6.62614 7.48287C5.24434 7.27033 3.84258 7.21841 2.44883 7.32816V30.0616C8.13462 29.5491 18.5876 28.7659 22.6682 29.5781V27.9246C22.6682 27.6682 22.7701 27.4222 22.9514 27.2409C23.1327 27.0595 23.3787 26.9577 23.6352 26.9577C23.8916 26.9577 24.1376 27.0595 24.3189 27.2409C24.5002 27.4222 24.6021 27.6682 24.6021 27.9246V31.0866C24.6021 31.3431 24.5002 31.589 24.3189 31.7704C24.1376 31.9517 23.8916 32.0536 23.6352 32.0536C23.4529 32.0531 23.2745 32.0011 23.1205 31.9035C22.9665 31.806 22.8433 31.667 22.7649 31.5024C21.0437 30.7482 10.7841 31.1736 1.57856 32.0536H1.48186Z' fill='%23439552'/%3E%3Cpath d='M23.6351 28.8918C23.3787 28.8918 23.1327 28.79 22.9514 28.6086C22.77 28.4273 22.6681 28.1813 22.6681 27.9249V3.66358C22.6601 3.44654 22.7254 3.23313 22.8534 3.05771C22.9815 2.8823 23.1649 2.7551 23.374 2.69661C25.9655 1.95204 39.0293 -1.50972 41.379 3.18976C41.4447 3.3253 41.4778 3.4743 41.4757 3.6249V26.8322C41.476 26.9651 41.449 27.0966 41.3962 27.2186C41.3434 27.3405 41.2661 27.4503 41.169 27.541C41.0719 27.6318 40.9572 27.7015 40.8319 27.7459C40.7067 27.7903 40.5736 27.8085 40.4411 27.7992C33.5562 27.3157 25.424 27.4704 24.3217 28.5824C24.2337 28.6773 24.1277 28.7535 24.0097 28.8067C23.8918 28.8598 23.7644 28.8888 23.6351 28.8918ZM24.6021 4.39847V26.397C28.2476 25.3044 35.877 25.6041 39.5418 25.8362V3.95367C38.0816 1.82633 30.2395 2.88033 24.6021 4.39847Z' fill='%23439552'/%3E%3Cpath d='M45.7885 32.0536H45.6918C36.4862 31.1737 26.2266 30.7482 24.5054 31.5024C24.4271 31.667 24.3038 31.806 24.1498 31.9035C23.9958 32.0011 23.8174 32.0531 23.6352 32.0536C23.3787 32.0536 23.1328 31.9517 22.9514 31.7704C22.7701 31.589 22.6682 31.3431 22.6682 31.0866V27.9246C22.6682 27.6682 22.7701 27.4222 22.9514 27.2409C23.1328 27.0595 23.3787 26.9577 23.6352 26.9577C23.8916 26.9577 24.1376 27.0595 24.3189 27.2409C24.5003 27.4222 24.6021 27.6682 24.6021 27.9246V29.5395C28.6828 28.7272 39.1067 29.5395 44.8215 30.023V7.27982C43.4277 7.17007 42.026 7.22199 40.6442 7.43453C40.5172 7.45167 40.3881 7.44364 40.2642 7.41088C40.1403 7.37812 40.0241 7.32129 39.9222 7.24362C39.8203 7.16595 39.7347 7.06897 39.6702 6.95821C39.6058 6.84745 39.5638 6.72509 39.5467 6.5981C39.5295 6.47112 39.5376 6.342 39.5703 6.21812C39.6031 6.09424 39.6599 5.97803 39.7376 5.87611C39.8152 5.7742 39.9122 5.68859 40.023 5.62415C40.1337 5.55972 40.2561 5.51773 40.3831 5.50059C42.5781 5.2105 45.3823 5.03645 46.301 5.83903C46.4411 5.95863 46.5541 6.10675 46.6325 6.27349C46.7109 6.44024 46.7528 6.62178 46.7554 6.806V31.0866C46.7551 31.2216 46.7266 31.3549 46.6716 31.4782C46.6166 31.6014 46.5365 31.7118 46.4363 31.8022C46.259 31.9634 46.0281 32.053 45.7885 32.0536Z' fill='%23439552'/%3E%3Cpath d='M23.6352 34.1616H1.48186C1.22541 34.1616 0.979454 34.0597 0.798112 33.8783C0.61677 33.697 0.514893 33.451 0.514893 33.1946V31.0866C0.514893 30.8301 0.61677 30.5842 0.798112 30.4028C0.979454 30.2215 1.22541 30.1196 1.48186 30.1196C1.73832 30.1196 1.98427 30.2215 2.16561 30.4028C2.34696 30.5842 2.44883 30.8301 2.44883 31.0866V32.2276H22.6682V30.139C22.6682 29.8825 22.7701 29.6366 22.9514 29.4552C23.1327 29.2739 23.3787 29.172 23.6352 29.172C23.8916 29.172 24.1376 29.2739 24.3189 29.4552C24.5002 29.6366 24.6021 29.8825 24.6021 30.139V33.1946C24.6021 33.451 24.5002 33.697 24.3189 33.8783C24.1376 34.0597 23.8916 34.1616 23.6352 34.1616Z' fill='%23439552'/%3E%3Cpath d='M45.7885 34.1616H23.6352C23.3787 34.1616 23.1328 34.0597 22.9514 33.8783C22.7701 33.697 22.6682 33.451 22.6682 33.1946V30.139C22.6682 29.8825 22.7701 29.6366 22.9514 29.4552C23.1328 29.2739 23.3787 29.172 23.6352 29.172C23.8916 29.172 24.1376 29.2739 24.3189 29.4552C24.5003 29.6366 24.6021 29.8825 24.6021 30.139V32.2276H44.8215V31.0866C44.8215 30.8301 44.9234 30.5842 45.1047 30.4028C45.286 30.2215 45.532 30.1196 45.7885 30.1196C46.0449 30.1196 46.2909 30.2215 46.4722 30.4028C46.6536 30.5842 46.7554 30.8301 46.7554 31.0866V33.1946C46.7554 33.451 46.6536 33.697 46.4722 33.8783C46.2909 34.0597 46.0449 34.1616 45.7885 34.1616Z' fill='%23439552'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    content: '';
    margin-right: 10px;
    height: 32px;
    width: 45px;
  }
}

.providers__heading {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.providers__toTop {
  color: #000000;
  font-style: italic;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  text-decoration: underline;
  transition: color .4s;

  &:hover {
    color: #2A7AB7;
  }
}

.providers__content {
  max-width: 700px;
  margin-bottom: 40px;

  p {
    font-size: 14px;
    line-height: 19px;
  }
}

.providers__columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.providers__column {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 35px 30px;
  max-width: 360px;
  text-align: center;

  img {
    width: 100px;
    height: 95px;
    margin-bottom: 15px;
  }

  h3 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin: 0;
  }

  h4 {
    color: #E5E5E5;
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
    line-height: 27px;
    margin-bottom: 15px;
  }

  p {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
  }
}

.providers--national {
  background: #2A7AB7;

  .providers__link {
    margin-top: 60px;
  }
}

.providers--international {
  background: #439552;

  a:nth-child(2) {
    border-color: #214327;
    color: #214327;
    margin-top: 20px;

    &:after {
      border-left: 10px solid #214327;
    }
  }

  .providers__link {
    margin-top: 60px;
  }
}

.providers--bootcamp {
  background: #2865AD;

  a:nth-child(2) {
    border-color: #002642;
    color: #002642;
    margin-top: 20px;

    &:after {
      border-left: 10px solid #002642;
    }
  }

  .providers__link {
    margin-top: 45px;
  }
}

.providers__link {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 190px;

  a {
    align-items: center;
    border: 2px solid #FFFFFF;
    color: #fff;
    display: flex;
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    justify-content: space-between;
    padding: 10px 13px;

    &:after {
      content: '';
      display: inline-block;
      border-bottom: 7px solid transparent;
      border-left: 10px solid #fff;
      border-top: 7px solid transparent;
      height: 0;
      width: 0;
    }
  }
}


.providers__accordion {
  background-color: #fff;
  margin-bottom: 10px;
}

.providers__accordion-heading {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;

  h4 {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0;
  }

  &:after {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 12px solid #439552;
    content: '';
    height: 0;
    width: 0;
    transition: transform .4s;
  }

  &.open {
    &:after {
      transform: rotateX(180deg);
    }
  }
}

.providers__accordion-content {
  height: auto;
  margin: 0 20px;
  max-height: 0;
  transition: max-height 0.25s, padding-top 0.25s;
  overflow: hidden;

  li {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  &.open {
    border-top: 1px solid #c5d9ea;
    max-height: 1000px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
