.oportunities-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 10px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.oportunities {
  background-color: #eff6fa;
  flex: 1;
  padding: 60px 45px;
}

.oportunities__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 30px;

  &:before {
    background-image: url("data:image/svg+xml,%3Csvg width='43' height='28' viewBox='0 0 43 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M41.9317 8.78873L21.8778 0.947211C21.6758 0.869322 21.452 0.869322 21.25 0.947211L1.19608 8.78873C1.03345 8.85296 0.893908 8.96457 0.795572 9.10907C0.697236 9.25357 0.644653 9.42427 0.644653 9.59902C0.644653 9.77376 0.697236 9.94447 0.795572 10.089C0.893908 10.2335 1.03345 10.3451 1.19608 10.4093L7.61334 12.9186V20.856C7.61334 22.947 15.1466 27.0246 21.5639 27.0246C27.9811 27.0246 35.5144 22.947 35.5144 20.856V12.9186L38.1302 11.8905V20.2548C37.5588 20.5819 37.0919 21.064 36.7833 21.6453C36.4747 22.2266 36.337 22.8833 36.3863 23.5395C36.3863 25.4912 37.5373 27.0246 39.0021 27.0246C40.4669 27.0246 41.6178 25.4912 41.6178 23.5395C41.6592 22.8856 41.5182 22.2331 41.2102 21.6547C40.9023 21.0762 40.4397 20.5946 39.874 20.2635V11.2109L41.9142 10.4093C42.0769 10.3451 42.2164 10.2335 42.3148 10.089C42.4131 9.94447 42.4657 9.77376 42.4657 9.59902C42.4657 9.42427 42.4131 9.25357 42.3148 9.10907C42.2164 8.96457 42.0769 8.85296 41.9142 8.78873H41.9317ZM33.7706 20.7601C33.2126 21.7185 27.5713 25.2821 21.5639 25.2821C15.5564 25.2821 9.91518 21.7185 9.35715 20.7601V13.6069L21.25 18.2508C21.452 18.3287 21.6758 18.3287 21.8778 18.2508L33.7706 13.6069V20.7601ZM21.4767 9.59902L35.6278 11.0105L21.5639 16.5083L3.899 9.59902L21.5639 2.68977L39.2288 9.59902H39.1677H39.1067L21.6685 7.85646C21.4373 7.83335 21.2063 7.90299 21.0264 8.05004C20.8466 8.1971 20.7325 8.40953 20.7094 8.64061C20.6863 8.87169 20.756 9.10248 20.9031 9.28222C21.0503 9.46196 21.2629 9.57591 21.4941 9.59902H21.4767ZM39.0021 25.2821C38.6446 25.2821 38.1302 24.6025 38.1302 23.5395C38.1302 22.4765 38.6446 21.7969 39.0021 21.7969C39.3596 21.7969 39.874 22.4765 39.874 23.5395C39.874 24.6025 39.3596 25.2821 39.0021 25.2821Z' fill='%230066B2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    content: '';
    margin-right: 10px;
    height: 25px;
    width: 40px;
  }
}

.oportunities__content {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 30px;
  max-width: 680px;
}

/****************************** Accordion ******************************/

.oportunities__accordion {
  background-color: #fff;
  margin-bottom: 10px;
}

.oportunities__accordion-heading {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;

  h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0;
    color: #0066B2;
  }

  &:after {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 12px solid #1070B7;
    content: '';
    height: 0;
    width: 0;
    transition: transform .4s;
  }

  &.open {
    &:after {
      transform: rotateX(180deg);
    }
  }
}

.oportunities__accordion-content {
  height: auto;
  margin: 0 20px;
  max-height: 0;
  transition: max-height 0.25s, padding-top 0.25s;
  overflow: hidden;

  li {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  &.open {
    border-top: 1px solid #dce9dd;
    max-height: 1000px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}


.js__accordion {

  .js__accordion-heading {

    &.open {
      &:after {
        transform: rotateX(180deg);
      }
    }
  }

  .js__accordion-content {
    height: auto;
    margin: 0 20px;
    max-height: 0;
    transition: max-height 0.25s, padding-top 0.25s;
    overflow: hidden;

    &.open {
      border-top: 1px solid #dce9dd;
      max-height: 1000px;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }
}

/****************************** End Accordion ******************************/

.oportunities__coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 850px;
  background-color: #2A7AB7;
  text-align: center;
  padding: 40px 70px;
  color: #FFFFFF;

  .content span {
    display: block;
    margin-top: 40px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
  }

  @media screen and (min-width: 768px) {
    max-width: 450px;
  }
}

.oportunities__calls--content {
  color: #FFF;
  margin: 30px 0;
  padding: 40px 80px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;

  a {
    color: #FFF;
  }

  .oportunities__calls--more_info a {
    font-weight: bold;
  }

  .oportunities__calls--more_info i {
    margin-left: 15px;
  }
}

.scholarships--bootcamps {
  background: #2865AD;
}
.scholarships--internationals {
  background: #439552;
}
.scholarships--nationals {
  background: #2A7AB7;
}
