.banner {
  position: relative;
}

.banner__title {
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  line-height: 49px;
  max-width: 1340px;
  margin: 0 auto;
}

.banner__img {
  object-fit: cover;
  object-position: 75%;
  min-height: 450px;
  max-width: 100%;
  width: 100%;

  @media screen and (min-width: 768px) {
    object-fit: none;
    object-position: center;
    min-height: auto;
  }
}

.banners__content {
  background-color: #246fae;
  color: #ffffff;
  opacity: 0.9;
  padding: 20px 25px;
  position: absolute;
  right: 60px;
  top: 60%;
  transform: translateY(-50%);
  width: 300px;
  z-index: 2;

  p {
    font-size: 19px;
    line-height: 1.6;
    margin: 0 0 30px;
  }

  b {
    font-weight: 600;
  }
}

.banner__box-color {
  box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 1);

  &--light-blue {
    box-shadow: 15px 15px 0px 0px rgba(133, 191, 229, 1);
  }

  &--light-green {
    box-shadow: -15px 15px 0px 0px rgba(169, 203, 46,1);
  }
}

.banner-intermediate {
  position: relative;

  p {
    margin-bottom: 0;
  }
}
